.header {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  max-height: 15vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 3px 3px;
}
.nav {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-right: 15px;
}
.active_link {
  color: #4f9deb;
}
